@{ 
    ViewBag.Title = "Reservations";
}


@section Scripts {
    <script>

        var viewModel = function () {

            var self = this;

            this.msg = ko.observable();

            //搜索参数
            this.search = {
                Name: ko.observable(""),
                Location: ko.observable(""),
                startDate: ko.observable(),
                endDate: ko.observable()
            };

            //新建数据
            this.Editor = {
                Name: ko.observable("ss"),
                Location: ko.observable()
            };
            //显示条数
            this.pageSizes = ko.observable();

            //选取的项目
            this.checkId = ko.observableArray();

            //分页数据
            this.model = ko.observableArray();

            //总页数
            this.pageCount = ko.observable();

            //页码目录
            this.TotalPages = ko.observableArray();

            //当前页数
            this.pageIndex = ko.observable(1);

            //pageNum
            this.Num = ko.observable(4);

            //IsQuery
            this.IsQuery = false;

            //获取分页数据
            this.list = function (i = 1, event) {
                self.msg = "1";
                if (i < 1) {
                    self.pageIndex = 1;
                    i = 1;
                }
                if (i > self.pageCount) {
                    self.pageIndex = self.pageCount;
                    i = self.pageCount;
                }
                self.pageIndex = i;
                j = self.Num();

                if (self.IsQuery) {
                    var url = '/api/web/query';

                    var startDate = $('#searchStartDate').val();
                    var endDate = $('#searchEndDate').val();

                    data = {
                        Name: self.search.Name,
                        Location: self.search.Location,
                        StartDate: startDate,
                        EndDate: endDate,
                        PageIndex: i,
                        PageNum: j
                    };

                    var type = 'post';

                } else {
                    var url = '/api/web';
                    var data = { pageIndex: i, pageNum: j };
                    var type = 'get';
                }

                $.ajax({
                    url: url,
                    type: type,
                    data: data,
                    beforeSend: function () {
                        $('.loadEffect').show();
                    },
                    success: function (data) {
                        self.checkId.removeAll();
                        self.pageCount = data.TotalPages;
                        self.model.removeAll();
                        self.TotalPages.removeAll();
                        for (var i = 0; i < data.model.length; i++) {
                            self.model.push(data.model[i]);
                        }
                        for (var i = 1; i <= data.TotalPages; i++) {
                            self.TotalPages.push(i);
                        }
                        $('.loadEffect').hide();
                        $('#checkall').prop('checked', false);
                    }
                })
            };

            //删除分页项目
            /*this.removeConfirm = function (item) {
                $('#aa').text("Are you sure to remove this item?")
                $('#myModal').modal({
                    keyboard: true,
                    show: true
                });
                return item;
            }*/

            this.remove = function (item) {
                $.ajax({
                    url: 'api/web/DeleteReservation',
                    type: 'delete',
                    contentType: 'application/json',
                    data: JSON.stringify({ Id: item.Id }),
                    beforeSend: function () {
                        if (confirm("Are you sure to remove this item")) {
                            $('.loadEffect').show();
                        } else {
                            return false;
                        }
                        //self.msg = "Are you sure to remove this item?";  -------------------------------------------------------------why?

                    },
                    success: function (data) {
                        self.list();
                        $('.loadEffect').hide();
                    }
                })
            };

            //删除所选项目
            this.removeChecked = function () {
                $.ajax({
                    url: '/api/web/more/DeleteReservations',
                    type: 'delete',
                    data: JSON.stringify(self.checkId()),
                    contentType: 'application/json',
                    beforeSend: function () {
                        if (confirm("Are you sure to remove these items")) {
                            $('.loadEffect').show();
                        } else {
                            return false;
                        }
                    },
                    success: function (data) {
                        self.list();
                        $('.loadEffect').hide();
                    }
                });
            }

            //新建分页项目

            this.openCreateWin = function () {
                $('#CreateWin').modal({
                    keyboard: true,
                    show: true
                });
            }

            this.Add = function () {
                $.ajax({
                    url: 'api/web',
                    type: 'post',
                    data: { Name: self.Editor.Name, Location: self.Editor.Location },
                    beforeSend: function () {
                        $('.loadEffect').show();
                    },
                    success: function () {
                        $('#CreateWin').modal('hide');
                        self.list();
                        $('.loadEffect').hide();

                    }
                })
            }

            //更新项目

            this.openUpdateWin = function (item) {
                $("#Name").val(item.Name);
                $('#Location').val(item.Location);
                $('#ID').val(item.Id);
                $('#updateWin').modal({
                    keyboard: true,
                    show: true
                });
            }

            this.update = function () {
                var Name = $("#Name").val();
                var Location = $('#Location').val();
                var Id = $("#ID").val();
                $.ajax({
                    url: '/api/web',
                    type: 'put',
                    data: { Id: Id, Name: Name, Location: Location },
                    beforeSend: function () {
                        $('.loadEffect').show();
                    },
                    success: function () {
                        self.list();
                        $('#updateWin').modal('hide')
                        $('.loadEffect').hide();

                    }
                })

            }

            //上一页
            this.previousPage = function () {
                self.list(self.pageIndex - 1);
            };

            //下一页
            this.nextPage = function () {
                self.list(self.pageIndex + 1);
            };


            this.getCheckedId = function (data, event) {

                if (event.target.checked) {
                    return true;
                } else {
                    return false;
                }

            };

            //页面加载时，获取第一页数据
            this.list();

            this.query = function () {
                self.IsQuery = true;
                self.list();
            };

            //页面条数
            this.pageNum = function () {
                self.list()
            }
            this.go = function () {
                var i = self.PageIndex;
                self.list(i)
            }

        }

        var vm = new viewModel();
        ko.applyBindings(vm);

        //全选
        $('#checkall').click(function () {
            if ($(this).is(':checked')) {
                $('#model :checkbox').prop('checked', true);
                vm.checkId().splice(0, vm.checkId().length);
                for (var i = 0; i < vm.model().length; i++) {
                    vm.checkId().push(vm.model()[i].Id);
                }
            }
            else {
                $('#model :checkbox').prop('checked', false);
                vm.checkId().splice(0, vm.checkId().length);
            }
        })

        //时间控件
        $('#searchStartDate').datetimepicker({
            format: 'YYYY-MM-DD hh:mm',
            locale: moment.locale('zh-cn'),
            showClose: true,
            showClear: true,
            toolbarPlacement: 'top',
            stepping: 15
        })
        $('#searchEndDate').datetimepicker({
            format: 'YYYY-MM-DD hh:mm',
            locale: moment.locale('zh-cn'),
            showClose: true,
            showClear: true,
            toolbarPlacement: 'top',
            stepping: 15
        })


</script>

}
    
       

<div id="summary" class="panel panel-primary section" >
    <div class="panel-heading">Reservations Summary</div>
    <div class="panel-body">
        <div class="btn-toolbar" style="margin-bottom: 10px;">
            <div class="btn-group">
                <button class="btn btn-info btn-sm" style="padding: 2px 8px;" data-bind="click: vm.openCreateWin">新建</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-info btn-sm" style="padding: 2px 8px;" data-bind="click: vm.removeChecked">删除</button>
            </div>
            <div class="btn-group">
                <button id="query" class="btn btn-info btn-sm" style="padding: 2px 8px;" data-bind="click: vm.query">查询</button>
            </div>
        </div>
        <form class="form-inline panel panel-default" style="margin-bottom: 16px;padding: 8px 10px;">
            <div class="form-group form-group-sm">
                <label for="searchName" class="control-label">Name：</label>
                <input class="form-control" name="searchName" data-bind="value: vm.search.Name" />
            </div>
            <div class="form-group form-group-sm">
                <label for="searchLoction" class="control-label">Location：</label>
                <input class="form-control" name="searchLocation" data-bind="value: vm.search.Location" />
            </div>
            <div class="form-group form-group-sm" style="margin-left: 20px;">
                <label for="searchStartDate" class="control-label">开始时间：</label>
                <div class="input-group date">
                    <input type="text" id="searchStartDate" class="form-control" name="searchStartDate" data-bind="value: vm.search.startDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span> 
                </div>
            </div>
            <div class="form-group form-group-sm" style="margin-left: 20px;">
                <label for="searchEndDate" class="control-label">结束时间：</label>
                <div class="input-group date">
                    <input type="text" id="searchEndDate" class="form-control" name="searchEndDate" data-bind="textInput: vm.search.endDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </form>
        <table class="table table-bordered" id="List">
            <thead>
                <tr>
                    <th class="text-center"><input type="checkbox" id="checkall"></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>CreateTime</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vm.model" id="model">
                <tr>
                    <td class="text-center"><input type="checkbox" data-bind="checked: vm.checkId, value: $data.Id"></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Location"></td>
                    <td data-bind="text: CreateTime"></td>
                    <td>
                        <button class="btn btn-xs btn-warning" data-bind="click: $parent.remove">Remove</button>
                        <button class="btn btn-xs btn-primary" data-bind="click: $parent.openUpdateWin">Editor</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <!--页数导航-->
    <nav aria-label="Page navigation" style="margin-left: 20px;">
        <ul class="pagination" style="cursor: pointer;">
            <li>
                <a href="#" aria-label="Previous" data-bind="click: vm.previousPage">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <!--ko foreach: vm.TotalPages-->
           <li id="index"><a data-bind="text: $data, click: vm.list"></a></li>
            <!-- /ko -->
           <li>
               <a href="#" aria-label="Next" data-bind="click: vm.nextPage">
                   <span aria-hidden="true">&raquo;</span>
               </a>
           </li>
            <li id="index">
                <a>
                    显示条数：
                    <input type="text" style="height: 20px;width: 46px;border: 1px solid #eee;border-radius: 2px;" data-bind="value: vm.Num"/>
                </a>
            </li>
            <li><a data-bind="click: vm.pageNum">确定</a></li>
            <li id="index">
                <a>
                    页数：
                    <input type="text" style="height: 20px;width: 46px;border: 1px solid #eee;border-radius: 2px;" data-bind="value: vm.PageIndex" />
                </a>
            </li>
            <li><a data-bind="click: vm.go">跳转</a></li>
        </ul>
    </nav>

    <div id="Editor" class="panel panel-primary" style="margin-left: 20px;">
        <from class="form">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" data-bind="value: vm.Editor.Name" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" data-bind="value: vm.Editor.Location" />
            </div>
            <button type="submit" class="btn btn-primary" data-bind="click: vm.Add">Save</button>
        </from>
    </div>
        <!-- Modal -->
<div class="modal fade" id="updateWin" tabindex="-1" role="dialog" aria-labelledby="updateWin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update Item</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Location" placeholder="Location">
                        </div>
                    </div>
                    <div class="form-group"  style="display: none">
                        <label for="ID" class="col-sm-2 control-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="ID" placeholder="ID">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: vm.update">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateWin" tabindex="-1" role="dialog" aria-labelledby="updateWin">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update Item</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Name" placeholder="Name" data-bind="value: vm.Editor.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Location" class="col-sm-2 control-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Location" placeholder="Location" data-bind="value: vm.Editor.Location" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: vm.Add">Save changes</button>
            </div>
        </div>
    </div>
</div>






